.footer{
    font-family: 'Lato';
}

.footer__description{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__headline{
    color: #6748CD;
    font-size: 2.2em;
    font-weight: 800;
    margin: 1em;
}

.footer__text{
    font-size: 1.2em;
}

.footer__contact-link{
    font-size: 1.2;
    color: #f4581f;
}