.header__hero {
  background-image: url("../img/header/car-front-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  padding: 60px 20px;
  color: rgb(0, 0, 0);
  position: relative;
  width: 100%;

  .header__hero-title {
    font-size: 42px; /* adjust if needed */
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    color: #333235;
    margin-bottom: 20px;
    width: 265.19px;
    height: 196.2px;
    box-sizing: border-box;
  }

  .header__hero-text {
    font-size: 2px; /* adjust if needed */
    color: rgb(93, 93, 93);
    margin-bottom: 20px;
    display: inline-block;
    width: 278.31px;
    height: 118.5px;
    font-family: "Nunito Sans", sans-serif;
  }
}
