<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>

    <main class="main">
      <!--Denys Bondar-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></section>
      
      <!--AntonKon97-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.how-it-works.partial.html"
      ></section>

      <!-- Konstantin Khablo -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.welcome-to-udrive.partial.html"
      ></section>

      <!--Honzha Yehor-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.available-cars.partial.html"
      ></section>

      <!--Les Andrii-->
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.tariffs.partial.html"
      ></nav>

      <!-- Kulakova Tetiana Clients' Feedback -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.clients.partial.html"
      ></section>

      <!-- Fedir Komarovskyi Contacts -->>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.contacts.partial.html"
      ></section>

      <!--Mykola Dron - FAQ section-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.faq.partial.html"
      ></section>
      <!--FAQ section end-->
    </main>
     
    <footer class="footer">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></nav>
    </footer>
     <!-- Hrechka Nazar footer -->
      
  </body>
</html>
