
.download{
  display: flex;
  justify-content: center;
  padding: 2em;
  font-family: 'Nunito Sans';
}

.download__title{
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 1em;
}

.download__subtitle{
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(112, 112, 112);
  margin-bottom: 1.5em;
}

.download__wrapper{
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.download__image{
  border-radius: 2em;
  outline: 0.5em solid rgb(224, 96, 82);
}

.download__text-block{
  width: 640px;
  padding-left: 5em;
}

.download__stores{
  display: flex;
  flex-direction: row;
}

#btn-google-play{
  padding-left: 2em;
}

.download__description{
  padding: 1em 0 1em 0;
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(112, 112, 112);
}

.download__feature{
  display: flex;
  align-items: center;
}

.download__feature-text-block{
  display: flex;
  flex-direction: column;
  padding: 1em 0 0 1em;
}