.about-videobutton {
  background-image: url("../../img/button/bg-pic.png");
 
  background-position: center ; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  
  
    .about-videobutton__container {
      background-color: rgba(7, 3, 3, 0.5); 
      color: white;
      padding: 20px; 
      border-radius: 15px; 
    
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      width: 50%; 
      margin: 0 auto; 
  
      
  
      .about-videobutton__content {
        /* font-size: 5vw; */
        /* max-width: 280px; */
        word-break: break-word;
        flex: 1;
        padding-left: 10px;
  
        /* text-align: right; */
  
        .about-videobutton__intro {
          font-size: 11px;
          font-family: "Lato", sans-serif;
          color: white;
          padding-bottom: 25px;
        }
  
        .about-videobutton__title {
          font-size: 34px;
          font-family: "Nunito Sans", sans-serif;
          color: white;
        }
  
        .about-videobutton__description {
          font-family: "Lato", sans-serif;
          font-size: 19px;
          color: white;
          /* max-width: 300px; */
        }
  
        
  
        .about-videobutton__video {

          border: none;
          background-color: inherit;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          display: inline-block;
          color: orange;
            
          .about-videobutton__videobutton {
            font-family: "Lato", sans-serif;
          font-size: 19px;
            border: none;
          background-color: inherit;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          display: inline-block;
          color: orange;
            
          
            .about-videobutton__videoimage {
              border: none;
          background-color: inherit;
          width: 60px; 
          height: 60px;
          font-size: 16px;
          cursor: pointer;
          display: inline-block;
          color: orange;
           
          }
        }
  
        
      }
    }
  }
  