.about-udrive {
  margin-top: 150px;
  background-image: url("../../img/welcome/udrivelogo.png");
  background-position: center;

  /* background-size: cover; */

  .about-udrive__container {
    display: flex;

    .about-udrive__image {
      @media (min-width: 768px) {
        flex: 1;
      }
    }

    .about-udrive__content {
      /* font-size: 5vw; */
      /* max-width: 280px; */
      word-break: break-word;
      flex: 1;
      padding-left: 10px;

      /* text-align: right; */

      .about-udrive__intro {
        font-size: 11px;
        font-family: "Lato", sans-serif;
        color: var(--color-welcom);
        padding-bottom: 25px;
      }

      .about-udrive__title {
        font-size: 34px;
        font-family: "Nunito Sans", sans-serif;
        color: var(--color-welcome-text3);
      }

      .about-udrive__description {
        font-family: "Lato", sans-serif;
        font-size: 19px;
        color: var(--color-welcome-text2);
        /* max-width: 300px; */
      }

      .about-udrive__features {
        display: flex;
        flex-direction: column;
        /* вертикальное расположение */
        gap: 24px;
        /* расстояние между элементами, можно изменить */
        list-style: none;
        /* убирает маркеры списка */
        padding: 25px;
        margin: 0;

        .about-udrive__feature-item {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: var(--color-welcome-text2);
          font-family: "Lato", sans-serif;
          gap: 10px;
          /* расстояние между иконкой и текстом */

          /* выравнивание по вертикали */
        }
      }

      .about-udrive__text {
        font-family: "Lato", sans-serif;
        font-size: 17px;
        color: var(--color-welcome-text2);
        /* max-width: 300px; */
      }

      .about-udrive__stats {
        margin-top: 100px;

        @media (min-width: 768px) {
          display: flex;
          justify-content: space-between;
          /* flex-direction: column; */
        }

        .about-udrive__stat {
          display: flex;
          flex-direction: column;
          align-items: left;
          margin-bottom: 40px;
        }

        .about-udrive__stat-number {
          font-size: 36px;
          font-family: "Nunito Sans", sans-serif;
          color: var(--color-welcome-accent);
          margin-bottom: 40px;
        }

        .about-udrive__stat-label {
          font-size: 14px;
          font-family: "Lato", sans-serif;
          color: var(--color-welcome-text);
        }
      }
    }
  }
}