.contact-form {
  margin-top: 60px;
  border-top: 2px solid var(--frame-color__contacts);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-form__title {
    margin-top: 60px;
    font-size: 1.5rem;
  }

  .contact-form__description {
    font-size: 0.8rem;
    color: var(--description-color__contacts);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .contact-form__row {
      display: flex;
      gap: 1rem;

      .contact-form__field {
        flex: 1;
      }
    }

    .contact-form__field {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .contact-form__label {
        font-size: 1rem;
        color: var(--action-color__contacts);
      }

      .contact-form__input,
      .contact-form__textarea {
        font-size: 0.7rem;
        border: 2px solid var(--frame-color__contacts);
        border-radius: 5px;
        margin-top: 0.3rem;

        &:focus {
          border-color: #8c8b8b;
          outline: none;
        }

        &::placeholder {
          color: rgba(168, 168, 168, 0.5);
        }
      }

      .contact-form__input {
        padding: 0.7rem;
      }

      .contact-form__textarea {
        padding: 0.7rem 3rem 3rem 0.7rem;
      }
    }

    .contact-form__checkbox {
      display: flex;
      gap: 0.25rem;

      .contact-form__checkbox-input {
        border: 2px solid var(--frame-color__contacts);
        transform: scale(1.1);
        accent-color: var(--action-color__contacts);

        &:focus {
          outline: none;
        }
      }

      .contact-form__checkbox-label {
        font-size: 0.75rem;
        color: var(--description-color__contacts);

        .contact-form__link {
          color: var(--action-color__contacts);
          text-decoration: none;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .contact-form__button {
      background-color: var(--action-color__contacts);
      color: white;
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    .form__button:hover {
      background-color: #3b3bcf;
    }
  }
}

@media (max-width: 600px) {
  .contact-form__form {
    width: 75%;
  }

  .contact-form__row {
    flex-direction: column;
  }
}
